.direct-continer {
    padding: 30px;
    min-width: 400px;
    position: sticky;
    top: 10px;
    height: 89vh;
    align-items: center;
    .toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .user-info {
            display: flex;
            gap: 21px;
            .user-image {
                width: 45px;
                height: 45px;
                border-radius: 70px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .user-detail {
                display: flex;
                gap: 8px;
                flex-direction: column;
                .name {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                }
                .username {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    color: #656565;
                }
            }
        }
    }
    .body {
    }
    .tools {
        position: absolute;
        bottom: 0px;
        display: flex;
        align-items: center;
        gap: 20px;
        .option {
            display: flex;
            gap: 10px;
        }
        .input-container {
            height: 59px;
            width: 330px;
            border-radius: 40px;
            background: #161616;
            overflow: hidden;
            border:  2px solid #555555;
            input {
                color: #a1a1a1;
                color: transparent;
                width: 330px;
                height: 100%;
                border-radius: 40px;
                outline: none;
                border:  none;
                padding-left: 20px;
                background: #232323;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                &::placeholder {
                    color: #a1a1a1;
                  
                }
                &[value]{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #fff;
                }
            }
        }
    }
}
