@import "../include.scss";
@import "../helpers/index.scss";

.container {
    display: grid;
    grid-template-columns: auto 0.9fr auto;
    min-height: 100vh;

    @media (max-width: 640px) {
        grid-template-columns: auto;
    }

}

.btn {
    text-decoration: none;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &.tweet {
        background: linear-gradient(82.68deg, #01429f 26.88%, #1498dd 100%), rgba(196, 196, 196, 0.3);
        border-radius: 70px;
        width: 279px;
        height: 51px;
        border: solid;
        border-image-slice: 0;
        border-width: 0px;
        transition: all 0.3s;
        border: solid 1px transparent;
        &:hover {
            background: transparent;
            border: solid 1px #1498dd;
            .btn-title {
                color: #1498dd;
                transition: all 0.3s;
            }
        }
    }
    &.tweet1 {
        background: linear-gradient(82.68deg, #01429f 26.88%, #1498dd 100%), rgba(196, 196, 196, 0.3);
        border-radius: 70px;
        padding: 11.5px 28.5px;
    }
}
