@import "../include.scss";
@import "../helpers/index.scss";

.container {
    display: grid;
    grid-template-columns: auto 0.9fr auto;
    min-height: 100vh;

    @media (max-width: 640px) {
        grid-template-columns: auto;
    }

    .left-sidebar {
        background-color: $main-color;
        .container {
            position: sticky;
            top:0px;
            margin: 42px 0px 0px 77px;
            display: flex;
            flex-direction: column;
            width: fit-content;
            justify-content: space-around;
            .title {
                width: fit-content;
                font-family: "Inter";
                font-style: normal;
                font-weight: 900;
                font-size: 32px;
                line-height: 39px;
                color: #1498dd;
                // background: linear-gradient(82.68deg, #01429f -1.57%, #1498dd 30.7%);
                // -webkit-background-clip: text;
                // -webkit-text-fill-color: transparent;
            }
            .navigation {
                width: fit-content;
                &:last-child {
                    margin-bottom: 0px;
                }
                .nav-item {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;
                    position: relative;
                    z-index: 1;
                    .nav-title {
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                        color: #656565;
                        margin-left: 15px;
                    }
                    &:hover {
                        &::after {
                            content: "";
                            position: absolute;
                            opacity: 1;
                            background-color: #161616;
                            padding: 14px 0px 13px 21px;
                            z-index: -1;
                            width: 220px;
                            height: 100%;
                            border-radius: 10px;
                            left: -21px;
                            transition: all 0.3s;
                        }
                        .nav-title {
                            color: #fff;
                        }
                        .icon {
                            svg {
                                fill: #fff;
                                stroke: #fff;
                            }
                        }
                    }
                }
                .nav-item.router-link-active {
                    .nav-title {
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 22px;
                        color: #fff;
                    }
                    .icon{
                        svg{
                            fill: #fff;
                        }
                    }
                }
            }
            .profile-summary {
                display: flex;
                align-items: center;
                gap: 29.5px;
                position: relative;
                z-index: 1;
                cursor: pointer;
                .profile-img {
                    width: 61px;
                    height: 61px;
                    border-radius: 70px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .profile-info {
                    .name {
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 22px;
                    }
                    .user-name {
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                        color: #656565;
                    }
                }
                &:hover {
                    &::after {
                        content: "";
                        position: absolute;
                        opacity: 1;
                        background-color: #161616;
                        padding: 9px 18px 10px 21px;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        left: -21px;
                        transition: all 0.3s;
                    }
                }
            }
        }
        @media (max-width: 640px) {
            display: none;
        }
    }


    .right-sidebar {
        background-color: $main-color;
        position: relative;
        .container {
            position: sticky;
            top:0px;
            margin: 32px 32px 0px 32px;
            display: flex;
            flex-direction: column;
            .search-box {
                width: 328px;
                height: 59px;
                input {
                    &::placeholder {
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #656565;
                    }
                    width: 100%;
                    height: 59px;
                    padding-left: 30px;
                    border-radius: 40px;
                    background-color: #161616;
                    border: none;
                }
                input[value] {
                    color: #fff;
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                }
            }
         


        }
        @media (max-width: 640px) {
            display: none;
        }
    }

    .navigationMobile{
        display: none;
        @media (max-width: 640px) {
            display: block;

            position: sticky;
            bottom: 32px;
            background: #171717;
            border-radius: 20px;
            height: 59px;
            margin: 0px 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .navigation{
            width: 100%;
            .items{
                width: 100%;
                display: flex;
                justify-content: space-around;
                .item.router-link-active{
                    svg{
                        fill: #fff;
                    }
                }
            }
        }
    }
}

.btn {
    text-decoration: none;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &.tweet {
        background: linear-gradient(82.68deg, #01429f 26.88%, #1498dd 100%), rgba(196, 196, 196, 0.3);
        border-radius: 70px;
        width: 279px;
        height: 51px;
        border: solid;
        border-image-slice: 0;
        border-width: 0px;
        transition: all 0.3s;
        border: solid 1px transparent;
        &:hover {
            background: transparent;
            border: solid 1px #1498dd;
            .btn-title {
                color: #1498dd;
                transition: all 0.3s;
            }
        }
    }
    &.tweet1 {
        background: linear-gradient(82.68deg, #01429f 26.88%, #1498dd 100%), rgba(196, 196, 196, 0.3);
        border-radius: 70px;
        padding: 11.5px 28.5px;
    }
}
