.profile{

    background-color: #161616;
    .profile-container{
        // margin: 42px 42px 0px 42px;
        @media (max-width: 640px) {
            // margin: 42px 15px 0px 15px;
        }
        width: 100%;
        .top-bar{
            display: flex;
            justify-content: space-between;
            padding: 35px 25px;
            align-items: center;
            .left-section{
                display: flex;
                gap: 39px;
                align-items: center;
                .user-info{
                    .user-name{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 27px;
                    }
                    .tweet-number{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                        color: #656565;
                    }
                }
            }
        }
        .user-profile{
            padding: 0px 25px;
            .user-profile-container{
                background-color: #0B0B0D;
                border-radius: 30px;
                padding: 18px;
                .profile-cover{
                    width: 100%;
                    height: 214px;
                    overflow: hidden;
                    border-radius: 30px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit:cover;
                    }
                }
                .profile-detail{
                    padding: 0px 59px;
                    .profile-image{
                        margin-top: -60px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .image{
                            width: 105px;
                            height: 105px;
                            border-radius: 30px;
                            outline: 6px solid #0B0B0D;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .follow-status{
                            a{
                                padding: 14.5px 34.5px;
                                background: linear-gradient(82.68deg, #01429F 26.88%, #1498DD 100%), rgba(196, 196, 196, 0.3);
                                border-radius: 70px;
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 22px;
                                color: #fff;
                                text-decoration: none;
                            }
                        }
                    }
                    .user-info{
                        margin-top: 11px;
                        .user-name{
                            .text{
                                font-style: normal;
                                font-weight: 600;
                                font-size: 22px;
                                line-height: 27px;
                                color: #fff;
                            }
                        }
                        .profile-id{
                            margin-top: 5px;
                            .text{
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 17px;
                                color: #656565;
                            }
                        }
                    }
                    .user-bio{
                        .text{
                            color: #FFFFFF;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 30px;
                            .mention{
                                color: #1498DD;
                                cursor: pointer;
                            }
                        }
                    }
                    .profile-follow-detail{
                        display: flex;
                        align-items: center;
                        margin-top: 33px;
                        gap: 24px;
                        .following{
                            display: flex;
                            gap: 8px;
                            .following{
                                font-style: normal;
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 24px;
                            }
                            .title{
                                font-style: normal;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 24px;
                                color: #656565;
                            }
                        }
                        .followers{
                            display: flex;
                            gap: 8px;
                            .followers{
                                font-style: normal;
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 24px;
                            }
                            .title{
                                font-style: normal;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 24px;
                                color: #656565;
                            }
                        }
                    }
                }
            }
        }
    }
}