.message-container {
    padding: 35px 25px;
}
.saerch-container {
    margin-top: 35px;
    width: 100%;
    height: 59px;
    border-radius: 40px;
    background-color: #0b0b0d;
    overflow: hidden;
    input {
        background-color: transparent;
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        padding-left: 45px;
        color: #fff;
        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #A1A1A1;
            
        }
    }
}
