@import "../../assets/scss/helpers/index.scss";

.main-section {
    background-color: $secoundry-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .container {
        margin: 42px 42px 0px 42px;
        @media (max-width: 640px) {
            margin: 42px 15px 0px 15px;
        }
        display: flex;
        flex-direction: column;
        .main-title {
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            color: #fff;
        }
        .new-tweet {
            @media (max-width: 640px) {
                width: 100%;
            }
            margin-top: 30px;
            width: 677px;
            height: 115px;
            border-radius: 30px;
            background-color: #0b0b0d;
            height: fit-content;
            .write-tweet {
                padding: 26px 38px;
                display: flex;
                align-items: center;
                height: fit-content;
                .user-profile {
                    overflow: hidden;
                    width: 62px;
                    height: 62px;
                    border-radius: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .input {
                    width: 90%;
                    height: 24px;
                    textarea {
                        width: 100%;
                        height: fit-content;
                        resize: none;
                        background-color: transparent;
                        border: none;
                        color: #fff;
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        padding-left: 16px;
                        &::placeholder {
                            font-family: "Inter";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 22px;
                            color: #656565;
                        }
                        &:focus {
                            border: none;
                            outline: none;
                        }
                    }
                    
                }
            }
            .tools{
                visibility: hidden;
                transition: all 0.3s;
                padding: 0px;
                height: 0px;
                .items {
                    display: none;
                }
                .tweet{
                    display: none;
                }
            }
            .tools.active {
                transition: all 0.3s;
                display: flex;
                visibility: visible;
                justify-content: space-between;
                padding: 0px 61px 15px 116px;
                @media (max-width: 640px) {
                    padding: 0px 61px 15px 40px;
                }
                align-items: center;
                height: 61px;
                .items {
                    display: flex;
                    gap: 30px;
                    @media (max-width: 640px) {
                        gap: 15px;
                    }
                    .item{
                        cursor: pointer;
                        position: relative;
                        z-index: 1;
                        &:hover{
                            svg{
                                path{
                                    stroke: #fff;
                                }
                            }
                            &::after{
                                content: '';
                                width: 40px;
                                height: 40px;
                                background-color: #2C2C32;
                                position: absolute;
                                top: -7px;
                                left: -7px;
                                z-index: -1;
                                border-radius: 100%;

                            }
                        }
                    }
                }
                .tweet{
                    display: block;
                }
            }
        }
        .tweet-body{
            @media (max-width: 640px) {
                width: 100%;
            }
            margin-top: 18px;
            width: 677px;
            background-color: #0b0b0d;
            border-radius: 30px;
            .tweet-container{
                margin: 30px;
                .user-tweet{
                    display: flex;
                    justify-content: space-between;
                    align-items: stretch;
                    .user-info-body{
                        display: flex;
                        gap: 12px;
                        height: fit-content;
                        .user-profile{
                            width: 70px;
                            height: 70px;
                            border-radius: 100%;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .user-info{
                            height: fit-content;
                            display: flex;
                            gap: 12px;
                            flex-direction: column;
                            .body{
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                .user-name{
                                    height: fit-content;
                                    font-family: 'Inter';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 18px;
                                    line-height: 22px;
                                }

                                .tweet-time{
                                    height: fit-content;
                                    font-family: 'Inter';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 17px;
                                    color: #656565;
                                }
                            }
                            .id{
                                .user-id{
                                    height: fit-content;
                                    font-family: 'Inter';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 17px;
                                    color: #656565;
                                }
                            }
                           
                        }
                    }
                    .icon{
                        cursor: pointer;
                    }
                }
                .tweet-content{
                    margin-top: 10px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                }
                .tweet-toolbar{
                    width: 80%;
                    margin-top: 35px;
                    display: flex;
                    align-items: center;
                    margin-left: 50px;
                    justify-content: space-between;
                    .item{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}