@import "../../assets/scss/helpers/index.scss";

.main-section {
    background-color: $secoundry-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .container {
        margin: 42px 42px 0px 42px;
        @media (max-width: 640px) {
            margin: 42px 15px 0px 15px;
        }
        display: flex;
        flex-direction: column;


        
    }
}